# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#ignore Debug Release
Debug/
Releasae/

#system files
.DS_Store
.DS_Store?
